:root {
  --dark1: black;
  --dark2: #385962;
  --light1: white;
  --light2: #Cad7db;
  --accent1: #6c5a34;
  --accent2: #Dbbe84; 
}

#experiences {
  word-wrap:break-word;
}

#experiences a:link {
  text-decoration: none;
  color: var(--accent1);
  font-weight: 500;
}

#experiences a:visited {
  text-decoration: none;
  color: var(--accent1);
}
#experiences a:hover {
  color:var(--dark2); 
}


.animation {
  display: block; 
  position: relative; 
  z-index: 10; 
}

.animation_layer {
  background-position: bottom center;
  
  background-repeat: repeat-x;
  width: 100%; 
  position: absolute; 
}

.animation_layer.parallax {
  position: fixed; 
}

#bg {
  background-image: url("./images/bg.png");
  height: 100%;
  width: 100%; 
  background-size:  cover;
}

#mountain {
  background-image: url("./images/mountain.png");
  height: 100%;
  width: 100%; 
  background-size:  cover;
}

#tree1 {
  background-image: url("./images/tree1.png");
  height: 100%;
  width: 100%; 
  background-size:  cover;
}

#tree2 {
  background-image: url("./images/tree2.png");
  height: 100%;
  width: 100%; 
  background-size:  cover;
}

#top {
  background-image: url("./images/top2.png");
  height: 100%;
  width: 100%; 
  background-size:  cover;
}

.animation.parallax-remove-scrollbar {
	-webkit-scrollbar-display: none !important;
	scrollbar-width: 0 !important;
	overflow: hidden !important;
}


/* Text stuff  */

#cover {
  background-color: var(--dark1);
  width: 100%;
  position: relative; 
  height: 100vh; 
  padding-top: 10%; 
  /* height: 610vh;  */
  /* margin-top: -30px;  */
}
#cover2 {
  background-color: var(--dark1);
  height: 70vh; 
  /* margin-top: -30px;  */
  border-style: none none solid none;
  border-color: var(--light2); 
}


.timelineItem{
  background-color: var(--light2);
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  height: "100%"; 
  /* transform: translate(30%); */
}

.timelineContainer { 
 width: auto; 
 /* transform: translate(-10%); */
}

.introText{
  width: 500px; 
  color: var(--light2); 
  font-size: 16pt; 
}

.projectsContainer{
 display: flex;  
 justify-content: center;
 align-items: center;
 box-sizing: border-box;
 width:100%; 
}